<div class="content" id="content" style="overflow: hidden;">
    <h1 inViewport (inViewportAction)="checkElementOnViewNature($event,0)" [ngClass]="{fadeInSection: !this.isVisibleNature[0], isVisible: this.isVisibleNature[0]}">{{nature[0][0]}}</h1>
    <p inViewport (inViewportAction)="checkElementOnViewNature($event,0)" [ngClass]="{fadeInSection: !this.isVisibleNature[0], isVisible: this.isVisibleNature[0]}">{{nature[0][1]}}</p>

    <table mat-table [dataSource]="dataSource" [ngClass]="{ content__slope: ((this.order>0 && this.order<5) || this.order==7 || this.order==10 || (this.order>12 && this.order<17)), content__nature: ((this.order>4 && this.order<7) || (this.order>7 && this.order<10) || (this.order>10 && this.order<13)) }">
  
        <!-- Photo1 Column -->
        <ng-container matColumnDef="photo1">
          <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo1</th>
          <td mat-cell *matCellDef="let element" [innerHtml]="element.photo1"></td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" inViewport (inViewportAction)="checkElementOnViewGallery($event,0)" [ngClass]="{fadeInSection: !this.isVisibleGallery[0], isVisible: this.isVisibleGallery[0]}"></tr>
    </table>

    <table mat-table [dataSource]="dataSourceMiniature">
  
      <!-- Photo1 Column -->
      <ng-container matColumnDef="photo1">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo1</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo1" (click)="this.order=1; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo2 Column -->
      <ng-container matColumnDef="photo2">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo2</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo2" (click)="this.order=2; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo3 Column -->
      <ng-container matColumnDef="photo3">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo3</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo3" (click)="this.order=3; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo4 Column -->
      <ng-container matColumnDef="photo4">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo4</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo4" (click)="this.order=4; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo5 Column -->
      <ng-container matColumnDef="photo5">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo5</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo5" (click)="this.order=5; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo6 Column -->
      <ng-container matColumnDef="photo6">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo6</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo6" (click)="this.order=6; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo7 Column -->
      <ng-container matColumnDef="photo7">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo7</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo7" (click)="this.order=7; switchImage()" class="miniature"></td>
      </ng-container>

      <!-- Photo8 Column -->
      <ng-container matColumnDef="photo8">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo8</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo8" (click)="this.order=8; switchImage()" class="miniature"></td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMiniature"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMiniature;" inViewport (inViewportAction)="checkElementOnViewMiniatures($event,0)" [ngClass]="{fadeInSection: !this.isVisibleMiniatures[0], isVisible: this.isVisibleMiniatures[0]}"></tr>
    </table>

    <table mat-table [dataSource]="dataSourceMiniatureSecond">
  
      <!-- Photo1 Column -->
      <ng-container matColumnDef="photo1">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo1</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo1" (click)="this.order=9; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo2 Column -->
      <ng-container matColumnDef="photo2">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo2</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo2" (click)="this.order=10; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo3 Column -->
      <ng-container matColumnDef="photo3">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo3</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo3" (click)="this.order=11; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo4 Column -->
      <ng-container matColumnDef="photo4">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo4</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo4" (click)="this.order=12; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo5 Column -->
      <ng-container matColumnDef="photo5">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo5</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo5" (click)="this.order=13; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo6 Column -->
      <ng-container matColumnDef="photo6">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo6</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo6" (click)="this.order=14; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo7 Column -->
      <ng-container matColumnDef="photo7">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo7</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo7" (click)="this.order=15; switchImageSecond()" class="miniature"></td>
      </ng-container>

      <!-- Photo8 Column -->
      <ng-container matColumnDef="photo8">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'">photo8</th>
        <td mat-cell *matCellDef="let element" [innerHtml]="element.photo8" (click)="this.order=16; switchImageSecond()" class="miniature"></td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMiniatureSecond"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMiniatureSecond;" inViewport (inViewportAction)="checkElementOnViewMiniatures($event,1)" [ngClass]="{fadeInSection: !this.isVisibleMiniatures[1], isVisible: this.isVisibleMiniatures[1]}"></tr>
    </table>
</div>