$mainPageColor: #3f51b5 !important;
$hMainColor: black;
$mainPaddingLeft: 80px;
@mixin mainPaddingLeftAndPageColor {
    @include mainPageColor;
    @include mainPaddingLeft;
}
@mixin mainPaddingLeft {
    padding-left: $mainPaddingLeft;
}
@mixin mainPageColor {
    color: $mainPageColor;
}
@mixin sizes {
    font-size: 16px;  
    line-height: 30px;
}
@mixin mainPageColorAndSizes {
    @include mainPageColor;
    @include sizes;
}
$normalFontSize: 18px;
$mainMarginBottom: 40px;
$normalReduceMargin: -20px;
$itemLineReduceMargin: -5px;
$standardWidth: 960px;
@mixin responsiveMiddleWidth {
    min-width: 580px;
    max-width: 959px;
}
$minWidth: 400px !important;

@mixin itemLinesBreakLine {
    white-space: break-spaces !important;
    line-height: 20px !important;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: $hMainColor;
    border: 0px;
    margin-top: 20px;
    margin-bottom: $mainMarginBottom;
}

h2 {
    font-size: 24px;
    text-align: left;
    margin-left: 40px;
    color: $hMainColor;
    border: 0px;
    margin-top: 40px;
    margin-bottom: $mainMarginBottom;
}

.isVisible {
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fadeInSection {
    opacity: 0;
    transform: translateX(20vw);
    visibility: visible;
}

.skillsList,.functionalList, .objectiveList, .pagesList {
    @include mainPaddingLeftAndPageColor;
    display: inline-block;
    
    .skillsList__skillsList, .functionalList__functionalList, .objectiveList__objectiveList, .pagesList__pagesList {
        @include mainPaddingLeftAndPageColor;
    }

}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
    @include mainPageColor;
}

:host ::ng-deep .mdc-list-item__primary-text {
    --mdc-list-list-item-label-text-color: $mainPageColor;
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
    height: auto;
    margin-bottom: 10px;
}

a {
    color: $mainPageColor;
}