<div class="page"> 
    <header>     
        <mat-toolbar class="toolbar">
                <mat-toolbar-row class="toolbar__rowFirst">
                    <img src="assets/logo-białe.png" class="toolbar__logo" />
                </mat-toolbar-row>               
        </mat-toolbar>
        <nav>
            <mat-tab-group class="tabGroup">
                <mat-tab label="Strona główna" class="tabGroup__label"> <main-page></main-page> </mat-tab>
                <mat-tab label="Programowanie" class="tabGroup__label"> <programming></programming> </mat-tab>
                <mat-tab label="Sport" class="tabGroup__label"> <sport></sport> </mat-tab>
                <mat-tab label="Podróże" class="tabGroup__label"> <travels></travels> </mat-tab>
                <mat-tab label="Przyroda" class="tabGroup__label"><nature></nature> </mat-tab>
                <mat-tab label="Kontakt" class="tabGroup__label"> <contact></contact> </mat-tab>
            </mat-tab-group>
        </nav>
    </header>      
        <footer>
            <strong>&copy; 2023 Karol Góralczyk</strong>
        </footer>

</div><!-- .page -->